# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
env/
venv/
.venv/
.env

# Spark / Hadoop
metastore_db/
derby.log
spark-warehouse/
*.crc
_SUCCESS

# Temporary / Streaming data
partial_*
data/streaming_inbox/
data/streaming_processed/
data/processed/
data/raw/

# Logs
*.log
logs/

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
demo_video_guide.md
demo_video_guide.pdf
